<div class="container">
  <div class="card card-image mt-4 "
       style="background-color: #333333; width: 50rem; margin: 0 auto; padding: 5px;">
    <div class="card card-image mt-4 "
         style="background-color: #333333; width: 30rem; margin: 0 auto; padding: 5px; border-color: #333333;">
    <form class="form-registration" (ngSubmit)="myForm.form.valid && createSenderReceiver()" name="createSenderReceiver" #myForm="ngForm">
      <table class="table table-sm">
        <tbody>
        <tr><td><p class="text-white">Podaj dane nadawcy: </td>
            <td><p class="text-white">Podaj dane odbiorcy:</td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white"> Imię: <input type="text" class="form-control" name="senderName" [(ngModel)]="sender.name" placeholder="Imię" #name="ngModel" required minlength="3">
              <div class="form-group">
                <div *ngIf="name.invalid" class="error-message">
                  <div *ngIf="name.errors.required">
              <p class="text-white"> Imię nie może być puste!
                  </div>
                  <div *ngIf="name.errors.minlength">
                    <p class="text-white">   Imię musi zawierać przynajmniej 3 litery!
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">  Imię: <input type="text" class="form-control" name="receiverName"  [(ngModel)]="receiver.name" #name2="ngModel" placeholder="Imię" required minlength="3">
              <div class="form-group">
                <div *ngIf="name2.invalid" class="error-message">
                  <div *ngIf="name2.errors.required">
              <p class="text-white">    Imię nie może być puste!
                  </div>
                  <div *ngIf="name2.errors.minlength">
                    <p class="text-white">    Imię musi zawierać przynajmniej 3 litery!
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white"> Nazwisko: <input type="text" class="form-control" name="senderLastName"  [(ngModel)]="sender.lastName" #lastName="ngModel" placeholder="Nazwisko" required minlength="2">
              <div class="form-group">
                <div *ngIf="lastName.invalid" class="error-message">
                  <div *ngIf="lastName.errors.required">
              <p class="text-white">  Imię nie może być puste!
                  </div>
                  <div *ngIf="lastName.errors.minlength">
                    <p class="text-white">  Imię musi zawierać przynajmniej 3 litery!
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white"> Nazwisko: <input type="text" class="form-control" name="receiverLastName" [(ngModel)]="receiver.lastName" #lastName2="ngModel"  placeholder="Nazwisko" required minlength="2">
              <div class="form-group">
                <div *ngIf="lastName2.invalid" class="error-message">
                  <div *ngIf="lastName2.errors.required">
              <p class="text-white">   Imię nie może być puste!
                  </div>
                  <div *ngIf="lastName2.errors.minlength">
                    <p class="text-white">      Imię musi zawierać przynajmniej 3 litery!
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white">  Adres e-mail: <input type="email" class="form-control" name="senderEmail"  [(ngModel)]="sender.email" #senderEmail="ngModel" placeholder="Adres email" required="true">
              <div class="form-group">
                <div *ngIf="senderEmail.invalid" class="error-message">
                  <div *ngIf="senderEmail.errors.required">
              <p class="text-white">      Email jest wymagany!
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">   Adres e-mail: <input type="email" class="form-control" name="receiverEmail" [(ngModel)]="receiver.email" #email2="ngModel" placeholder="Adres email" required="true">
              <div class="form-group">
                <div *ngIf="email2.invalid" class="error-message">
                  <div *ngIf="email2.errors.required">
              <p class="text-white">       Email jest wymagany!
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white">   Nazwa firmy: <input type="text" class="form-control" name="senderCompanyName" [(ngModel)]="sender.companyName" placeholder="Nazwa firmy">
              <div class="form-group">
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">    Nazwa firmy: <input type="text" class="form-control" name="receiverCompanyName"  [(ngModel)]="receiver.companyName" placeholder="Nazwa firmy">
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white">   Miasto: <input type="text" class="form-control" name="senderCity"  [(ngModel)]="sender.city" #city="ngModel" placeholder="Miasto" required minlength="3">
              <div class="form-group">
                <div *ngIf="city.invalid" class="error-message">
                  <div *ngIf="city.errors.required">
              <p class="text-white">        Miasto nie może być puste!
                  </div>
                  <div *ngIf="city.errors.minlength">
                    <p class="text-white">        Miasto musi zawierać przynajmniej 3 litery!
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">   Miasto: <input type="text" class="form-control" name="receiverCity" [(ngModel)]="receiver.city" #city2="ngModel" placeholder="Miasto" required minlength="3">
              <div class="form-group">
                <div *ngIf="city2.invalid" class="error-message">
                  <div *ngIf="city2.errors.required">
              <p class="text-white">       Miasto nie może być puste!
                  </div>
                  <div *ngIf="city2.errors.minlength">
                    <p class="text-white">       Miasto musi zawierać przynajmniej 3 litery!
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white">    Ulica: <input type="text" class="form-control" name="senderStreet"  [(ngModel)]="sender.street" #street="ngModel" placeholder="Ulica" required minlength="3">
              <div class="form-group">
                <div *ngIf="street.invalid" class="error-message">
                  <div *ngIf="street.errors.required">
              <p class="text-white">      Ulica nie może być pusta!
                  </div>
                  <div *ngIf="street.errors.minlength">
                    <p class="text-white">     Ulica musi zawierać przynajmniej 3 litery!
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">    Ulica: <input type="text" class="form-control" name="receiverStreet" [(ngModel)]="receiver.street" #street2="ngModel"  placeholder="Ulica" required minlength="3">
              <div class="form-group">
                <div *ngIf="street2.invalid" class="error-message">
                  <div *ngIf="street2.errors.required">
              <p class="text-white">     Ulica nie może być pusta!
                  </div>
                  <div *ngIf="street2.errors.minlength">
                    <p class="text-white">      Ulica musi zawierać przynajmniej 3 litery!
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white">  Numer domu: <input type="text" class="form-control" name="senderHouseNumber"  [(ngModel)]="sender.houseNumber" #houseNumber="ngModel" placeholder="Numer domu" required minlength="1">
              <div class="form-group">
                <div *ngIf="houseNumber.invalid" class="error-message">
                  <div *ngIf="houseNumber.errors.required">
              <p class="text-white">      Numer domu nie może być pusty!
                  </div>
                  <div *ngIf="houseNumber.errors.minlength">
                    <p class="text-white">     Numer domu musi zawierać przynajmniej 1 literę bądź cyfrę!
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">   Numer domu: <input type="text" class="form-control" name="receiverHouseNumber" [(ngModel)]="receiver.houseNumber" #houseNumber2="ngModel"  placeholder="Numer domu" required minlength="1">
              <div class="form-group">
                <div *ngIf="houseNumber2.invalid" class="error-message">
                  <div *ngIf="houseNumber2.errors.required">
              <p class="text-white">      Numer domu nie może być pusty!
                  </div>
                  <div *ngIf="houseNumber2.errors.minlength">
                    <p class="text-white">     Numer domu musi zawierać przynajmniej 1 literę bądź cyfrę!
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white">  Numer mieszkania: <input type="text" class="form-control" name="senderApartmentNumber"  [(ngModel)]="sender.apartmentNumber" #apartmentNumber="ngModel" placeholder="Numer mieszkania" required minlength="1">
              <div class="form-group">
                <div *ngIf="apartmentNumber.invalid" class="error-message">
                  <div *ngIf="apartmentNumber.errors.required">
              <p class="text-white">      Numer mieszkania nie może być pusty!
                  </div>
                  <div *ngIf="apartmentNumber.errors.minlength">
                    <p class="text-white">      Numer mieszkania musi zawierać przynajmniej 1 literę bądź cyfrę!
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">   Numer mieszkania: <input type="text" class="form-control" name="receiverApartmentNumber" [(ngModel)]="receiver.apartmentNumber" #apartmentNumber2="ngModel"  placeholder="Numer mieszkania" required minlength="1">
              <div class="form-group">
                <div *ngIf="apartmentNumber2.invalid" class="error-message">
                  <div *ngIf="apartmentNumber2.errors.required">
              <p class="text-white">       Nr mieszkania nie może być pusty!
                  </div>
                  <div *ngIf="apartmentNumber2.errors.minlength">
                    <p class="text-white">      Nr mieszkania musi zawierać przynajmniej 1 literę bądź cyfrę!
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white">  Kod pocztowy: <input type="text" class="form-control" name="senderPostCode" [(ngModel)]="sender.postCode" #postCode="ngModel" placeholder="Kod pocztowy [xx-zzz]" required pattern="([\d]{2})-([\d]{3})">
              <div class="form-group">
                <div *ngIf="postCode.invalid" class="error-message">
                  <div *ngIf="postCode.errors.required">
              <p class="text-white">      Kod pocztowy nie może być pusty!
                  </div>
                  <div *ngIf="postCode.errors.pattern">
                    <p class="text-white">     Podaj poprawny format kodu [xx-zzz]
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">    Kod pocztowy: <input type="text" class="form-control" name="receiverPostCode" [(ngModel)]="receiver.postCode" #postCode2="ngModel" placeholder="Kod pocztowy [xx-zzz]" required pattern="([\d]{2})-([\d]{3})">
              <div class="form-group">
                <div *ngIf="postCode2.invalid" class="error-message">
                  <div *ngIf="postCode2.errors.required">
              <p class="text-white">        Kod pocztowy nie może być pusty!
                  </div>
                  <div *ngIf="postCode2.errors.pattern">
                    <p class="text-white">       Podaj poprawny format kodu [xx-zzz]
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <p class="text-white">  Telefon: <input type="text" class="form-control" name="senderNumber" [(ngModel)]="sender.phoneNumber" #phoneNumber="ngModel" placeholder="Numer telefonu" required pattern="([\d]{9})|(\+[\d]{11})">
              <div class="form-group">
                <div *ngIf="phoneNumber.invalid" class="error-message">
                  <div *ngIf="phoneNumber.errors.required">
              <p class="text-white">        Telefon nie może być pusty!
                  </div>
                  <div *ngIf="phoneNumber.errors.pattern">
                    <p class="text-white">       Podaj poprawny numer telefonu!
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="form-group">
              <p class="text-white">  Telefon: <input type="text" class="form-control" name="receiverNumber" [(ngModel)]="receiver.phoneNumber" #phoneNumber2="ngModel" placeholder="Numer telefonu" required pattern="([\d]{9})|(\+[\d]{11})">
              <div class="form-group">
                <div *ngIf="phoneNumber2.invalid" class="error-message">
                  <div *ngIf="phoneNumber2.errors.required">
              <p class="text-white">       Telefon nie może być pusty!
                  </div>
                  <div *ngIf="phoneNumber2.errors.pattern">
                    <p class="text-white">      Podaj poprawny numer telefonu!
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="form-group">
              <button class="btn btn-success" type="submit" routerLink="/createPackage" href="/createPackage">Dalej</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </form>

  </div>
</div>
