<div class="container">
  <div class="row justify-content-md-center">

    <app-navigation></app-navigation>


    <div class="card card-image mt-4 col-sm-9"
         style="background-color: #333333; width: 60rem; margin: 0 auto;">
      <div class="card card-image col-sm-12"
           style="background-color: #333333; width: 45rem; margin: 0 auto ;border-color: #333333;">
      <div *ngIf="!temp" class="error-message">
        <p class="text-white">Uzupełnij dane użytkownika!</p>
      </div>
      <div *ngIf="comunicate != ''" class="error-message">
        {{comunicate}}
      </div>


      <form class="form-registration" (ngSubmit)="createUser()" name="createUser" #myForm="ngForm">
        <table class="table">
          <tbody>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">  Imię: </p><input type="text" class="form-control" name="name" [(ngModel)]="userDetails.name" placeholder="Imię">
                <div *ngIf="error.name" class="error-message">
                  {{error.name}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">   Nazwisko: </p><input type="text" class="form-control" name="lastName" [(ngModel)]="userDetails.lastName" placeholder="Nazwisko">
                <div *ngIf="error.lastName" class="error-message">
                  {{error.lastName}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">  Telefon:</p> <input type="text" class="form-control" name="number" [(ngModel)]="userDetails.phoneNumber" placeholder="Telefon">
                <div *ngIf="error.number" class="error-message">
                  {{error.number}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">   Miasto:</p> <input type="text" class="form-control" name="city" [(ngModel)]="userDetails.city" placeholder="Miasto">
                <div *ngIf="error.city" class="error-message">
                  {{error.city}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">    Ulica:</p> <input type="text" class="form-control" name="street" [(ngModel)]="userDetails.street" placeholder="Ulica">
                <div *ngIf="error.street" class="error-message">
                  {{error.street}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">   Numer domu:</p> <input type="text" class="form-control" name="houseNumber" [(ngModel)]="userDetails.houseNumber" placeholder="Numer domu">
                <div *ngIf="error.houseNumber" class="error-message">
                  {{error.houseNumber}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">   Numer mieszkania:</p> <input type="text" class="form-control" name="apartmentNumber" [(ngModel)]="userDetails.apartmentNumber" placeholder="Numer mieszkania">
                <div *ngIf="error.apartmentNumber" class="error-message">
                  {{error.apartmentNumber}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">   Kod pocztowy:</p> <input type="text" class="form-control" name="postCode" [(ngModel)]="userDetails.postCode" placeholder="Kod pocztowy">
                <div *ngIf="error.postCode" class="error-message">
                  {{error.postCode}}
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td col="2">

              <div class="form-group">
                <div *ngIf="!authenticate">
                  <button class="btn btn-success" type="submit">Zapisz</button>
                </div>
                <div *ngIf="authenticate">
                  <button class="btn btn-success" type="submit">Zapisz zmiany</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
</div>
