<div class="card card-image mt-4 "
     style="background-color: #333333; width: 75rem; margin: 0 auto; padding: 5px; height: auto;">
  <div class="row justify-content-md-center mt-5" >
    <form *ngIf="package.id === ''" class="form-registration" (ngSubmit)="findPackage()" name="findPackage" #myForm="ngForm">
      <p class="text-white">    Wprowadź numer paczki:</p> <input type="text" class="form-control" name="packageNumber" [(ngModel)]="package.packageNumber"  placeholder="Numer paczki">
      <div class="form-group ">
        <button class="btn btn-success mt-2" type="submit">Szukaj</button>
      </div>
    </form>

    <div *ngIf="package.id != ''">
      <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><p class="text-white"> Numer paczki</p></th>
            <th><p class="text-white"> Data nadania</p></th>
            <th><p class="text-white"> Status</p></th>
            <th><p class="text-white"> Długość</p></th>
            <th><p class="text-white"> Szerokość</p></th>
            <th><p class="text-white"> Wysokość</p></th>
            <th><p class="text-white"> Uwagi</p></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><p class="text-white"> {{package.packageNumber}}</p></td>
            <td><p class="text-white"> {{package.date}}</p></td>
            <td><p class="text-white"> {{package.packageStatus.name}}</p></td>
            <td><p class="text-white"> {{package.length}}</p></td>
            <td><p class="text-white"> {{package.width}}</p></td>
            <td><p class="text-white"> {{package.height}}</p></td>
            <td><p class="text-white"> {{package.comments}}</p></td>
          </tr>
        </tbody>
      </table>
      <p class="text-white"> Nadawca: </p>
      <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th><p class="text-white"> Imię i nazwisko</p></th>
            <th><p class="text-white"> Email</p></th>
            <th><p class="text-white"> Nazwa firmy</p></th>
            <th><p class="text-white"> Miasto</th>
            <th><p class="text-white"> Ulica</th>
            <th><p class="text-white"> Kod pocztowy</th>
            <th><p class="text-white"> Telefon</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td><p class="text-white"> {{package.sender.name}} {{package.sender.lastName}}</td>
          <td><p class="text-white"> {{package.sender.email}}</td>
          <td>  <div *ngIf="package.sender.companyName === ''"><p class="text-white">brak</div>
            <p class="text-white">{{package.sender.companyName}} </p>
          </td>
          <td><p class="text-white"> {{package.sender.city}}</td>
          <td><p class="text-white"> {{package.sender.street}}</td>
          <td><p class="text-white"> {{package.sender.postCode}}</td>
          <td><p class="text-white"> {{package.sender.phoneNumber}}</td>
        </tr>
        </tbody>
      </table>

      <p class="text-white">  Odbiorca: </p>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th><p class="text-white"> Imię i nazwisko</th>
            <th><p class="text-white"> Email</th>
            <th><p class="text-white"> Nazwa firmy</th>
            <th><p class="text-white"> Miasto</th>
            <th><p class="text-white"> Ulica</th>
            <th><p class="text-white"> Kod pocztowy</th>
            <th><p class="text-white"> Telefon</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><p class="text-white"> {{package.recipient.name}} {{package.recipient.lastName}}</td>
            <td><p class="text-white"> {{package.recipient.email}}</td>
            <td>
              <div *ngIf="package.recipient.companyName === ''"><p class="text-white">brak </p></div>
              <p class="text-white"> {{package.recipient.companyName}} </p>
            </td>
            <td><p class="text-white"> {{package.recipient.city}}</td>
            <td><p class="text-white"> {{package.recipient.street}}</td>
            <td><p class="text-white"> {{package.recipient.postCode}}</td>
            <td><p class="text-white"> {{package.recipient.phoneNumber}}</td>
          </tr>
          </tbody>
      </table>

      <p class="text-white">  Historia paczki: </p>
      <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th><p class="text-white"> Data</th>
          <th><p class="text-white"> Opis</th>
          <th><p class="text-white"> Lokalizacja</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let history of histories">
          <td><p class="text-white"> {{history.date}}</p></td>
          <td><p class="text-white"> {{history.description}}</p></td>
          <td><p class="text-white"> {{history.localization}}</p></td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
