<form class="form-registration" name="formRegistration" #myForm="ngForm" (ngSubmit)="checkLogin()">
  <table class="table table-sm col-md-3">
    <tbody>
      <div *ngIf="errors" class="error-message">
        {{errors}}
      </div>
    <tr>
      <th>Login:</th>
      <td><input type="text" name="username" [(ngModel)]="login"></td>
    </tr>
    <tr>
      <th>Hasło:</th>
      <td><input type="password" name="password" [(ngModel)]="password"></td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button (click)=checkLogin() class="btn btn-success" type="submit">Login</button>
  </div>
</form>





