
<form class="form-registration" name="formRegistration" #myForm="ngForm" (ngSubmit)="checkLogin()">


  <section class="form-dark">

    <!--Form without header-->
    <div class="card card-image mt-4 col-sm-12"
         style="background-color: #333333; width: 50rem; margin: 0 auto;">
      <div class="card card-image "
           style="background-color: #333333; width: 30rem; margin: 0 auto; padding: 5px; border-color: #333333">
      <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4 form-group">

        <!--Header-->
        <div class="text-center">
          <h3 class="white-text mb-5 mt-4 font-weight-bold"><strong>Zaloguj</strong> <a
            class="green-text font-weight-bold"><strong> się</strong></a></h3>
        </div>

        <div *ngIf="errors" class="error-message">
          {{errors}}
        </div>

        <div class="md-form">
          <input type="text" id="Form-login" class="form-control white-text" name="username" [(ngModel)]="login" placeholder="Login" />
          <label for="Form-login">Twój login</label>
        </div>

        <div class="md-form pb-3">
          <input type="password" id="Form-pass5" class="form-control white-text" name="password" [(ngModel)]="password" placeholder="Hasło" />
          <label for="Form-pass5">Twoje hasło</label>

        </div>

        <!--Grid row-->
        <div class="row d-flex align-items-center mb-4">

          <!--Grid column-->
          <div class="text-center mb-3 col-md-12">
            <button type="submit" class="btn btn-success btn-block btn-rounded z-depth-1">Zaloguj się</button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid column-->
        <div class="col-md-12">
          <p class="font-small white-text d-flex justify-content-end">Nie masz konta? <a routerLink="/register"
                                                                                     class="green-text ml-1 font-weight-bold"> Zarejestruj się</a></p>
        </div>
        <!--Grid column-->

      </div>
    </div>
    </div>

  </section>







</form>







