<div *ngIf="authService.isAdmin()" class="container">
  <div class="row justify-content-md-center">
    <app-navigation></app-navigation>

    <div class="col-md-8">
      <form class="form-registration" name="addWarehouse" (ngSubmit)="addWarehouse()"  #myForm="ngForm">
        <table class="table">
          <tr>
            <td>
              <div class="form-group">
                Miasto: <input type="text" class="form-control" name="city" [(ngModel)]="warehouse.city" placeholder="Miasto">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Ulica: <input type="text" class="form-control" name="street" [(ngModel)]="warehouse.street" placeholder="Ulica">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Kod pocztowy: <input type="text" class="form-control" name="postCode" [(ngModel)]="warehouse.postCode" placeholder="Kod pocztowy">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Numer telefonu: <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="warehouse.phoneNumber" placeholder="Numer telefonu">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Opis magazynu:
                <textarea rows = "5" cols = "50" name = "description" [(ngModel)]="warehouse.description" class="form-control">Opis magazynu</textarea>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <button class="btn btn-success" type="submit">Zapisz</button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
