<div class="container">
  <div class="row justify-content-center">
    <app-navigation></app-navigation>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <p class="text-white"> Informacje o paczce: </p>
          <table class="table-responsive table-sm">
            <tbody>
              <tr>
                <th><p class="text-white">Numer paczki:</p></th>
          <td><p class="text-white">{{package.packageNumber}}</p></td>
              </tr>
              <tr>
                <th><p class="text-white">Status paczki:</th>
                <td><p class="text-white">{{package.packageStatus.name}}</td>
              </tr>
              <tr *ngIf="package.date != null">
                <th><p class="text-white">Data nadania:</th>
                <td ><p class="text-white">{{package.date | date:'MM/dd/yyyy hh:mm:ss'}}</td>
              </tr>
              <tr>
                <th><p class="text-white">WxDxS:</th>
                <td><p class="text-white">{{package.height}}x{{package.length}}x{{package.width}}</td>
              </tr>
              <tr>
                <th><p class="text-white">Waga [kg]:</th>
                <td><p class="text-white">{{package.weight}} kg</td>
              </tr>
              <tr>
                <th><p class="text-white">Uwagi do paczki:</th>
                <td><p class="text-white">{{package.comments}}</td>
              </tr>
              <tr>
                <th><p class="text-white">Kod QR:</th>
                <td><img *ngIf="qrcode != null" style="width: 100px; height: 100px;" [src]="qrcode" /> </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6" *ngIf="package.content != null">
          <p class="text-white">Produkty: </p>
          <table class="table table-responsive table-sm">
            <thead>
              <th><p class="text-white">Nazwa</th>
              <th><p class="text-white">Waga</th>
              <th><p class="text-white">Kategoria</th>
              <th><p class="text-white">Uwagi</th>
            </thead>
            <tbody>
              <tr *ngFor="let product of package.content.products">
                <td><p class="text-white">{{product.name}}</td>
                <td><p class="text-white">{{product.weight}}</td>
                <td><p class="text-white">{{product.category.name}}</td>
                <td><p class="text-white">{{product.comments}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br/>
      <div class="row">
        <div class="col-md-6">
          <p class="text-white"> Nadawca: </p>
          <table class="table table-responsive table-sm">
            <tbody>
              <tr>
                <th><p class="text-white">Imię i nazwisko:</th>
                <td><p class="text-white">{{package.sender.name}} {{package.sender.lastName}}</td>
              </tr>
              <tr>
                <th><p class="text-white">Adres email:</th>
                <td><p class="text-white">{{package.sender.email}}</td>
              </tr>
              <tr>
                <th><p class="text-white">Nazwa firmy:</th>
                <td><p class="text-white">{{package.sender.companyName}}</td>
              </tr>
              <tr>
                <th><p class="text-white">Miasto:</th>
                <td><p class="text-white">{{package.sender.postCode}}, {{package.sender.city}}</td>
              </tr>
              <tr>
                <th><p class="text-white">Ulica:</th>
                <td><p class="text-white">{{package.sender.street}} {{package.sender.houseNumber}}/{{package.sender.apartmentNumber}}</td>
              </tr>
              <tr>
                <th><p class="text-white">Telefon:</th>
                <td><p class="text-white">{{package.sender.phoneNumber}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6">
          <p class="text-white">Odbiorca: </p>
          <table class="table table-responsive table-sm">
            <tbody>
            <tr>
              <th><p class="text-white">Imię i nazwisko:</th>
              <td><p class="text-white">{{package.recipient.name}} {{package.recipient.lastName}}</td>
            </tr>
            <tr>
              <th><p class="text-white">Adres email:</th>
              <td><p class="text-white">{{package.recipient.email}}</td>
            </tr>
            <tr>
              <th><p class="text-white">Nazwa firmy:</th>
              <td><p class="text-white">{{package.recipient.companyName}}</td>
            </tr>
            <tr>
              <th><p class="text-white">Miasto:</th>
              <td><p class="text-white">{{package.recipient.postCode}}, {{package.recipient.city}}</td>
            </tr>
            <tr>
              <th><p class="text-white">Ulica:</th>
              <td><p class="text-white">{{package.recipient.street}} {{package.recipient.houseNumber}}/{{package.recipient.apartmentNumber}}</td>
            </tr>
            <tr>
              <th><p class="text-white">Telefon:</th>
              <td><p class="text-white">{{package.recipient.phoneNumber}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
