<div *ngIf="authService.isAdmin()" class="container">
  <div class="row justify-content-md-center">
    <app-navigation></app-navigation>


    <div class="col-md-9">
      <form class="form-registration" name="updateUser" (ngSubmit)="updateUserAdmin()"  #myForm="ngForm">
        <table class="table">
          <tbody>
          <tr>
            <td>
              <div class="form-group">
                Email: <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Login <input type="text" class="form-control" name="login" [(ngModel)]="user.login" placeholder="Login">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Password: <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                  <button class="btn btn-success" type="submit">Zapisz</button>
              </div>



            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

