<div *ngIf="authService.isAdmin()" class="container">
  <div class="row justify-content-md-center">
    <app-navigation></app-navigation>


    <div class="card card-image mt-4 col-sm-9"
         style="background-color: #333333; width: 30rem; margin: 0 auto;">
      <div class="card card-image col-sm-12"
           style="background-color: #333333; width: 45rem; margin: 0 auto ;border-color: #333333;">
      <form class="form-registration" name="updateUser" (ngSubmit)="updateUserAdmin()"  #myForm="ngForm">
        <table class="table">
          <tbody>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">  Email: <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">   Login <input type="text" class="form-control" name="login" [(ngModel)]="user.login" placeholder="Login">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                <p class="text-white">   Password: <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                  <button class="btn btn-success" type="submit">Zapisz</button>
              </div>



            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
</div>
