<div *ngIf="authService.isAdmin()" class="container">
  <div class="row justify-content-md-center">
    <app-navigation></app-navigation>

    <div class="col-md-9">
      <button type="button" class="btn btn-primary" name="addCar" routerLink="/admin/cars/addCar">Dodaj samochód</button>

      <table matSort (matSortChange)="sortCars($event)" class="table table-striped">
        <thead>
        <tr>
          <th mat-sort-header="id">Id</th>
          <th mat-sort-header="brand">Marka</th>
          <th mat-sort-header="model">Model</th>
          <th mat-sort-header="engineType">Typ silnika</th>
          <th mat-sort-header="licensePlate">Numer rejestracyjny</th>
          <th>Operacje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars | paginate: config">
          <td>{{car.id}}</td>
          <td>{{car.brand}}</td>
          <td>{{car.model}}</td>
          <td>{{car.engineType}}</td>
          <td>{{car.licensePlate}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-danger" name="deleteCar" (click)="deletingCar(car)" data-toggle="modal" data-target="#myModal">Usuń</button>
            <button type="button" class="btn btn-sm btn-warning" name="editCar" [routerLink]="['/admin/cars/', car.id]">Edytuj</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="goToPdf(car.id)">Pobierz</button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" role="document">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Usuwanie paczki</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <p><strong>Czy na pewno chcesz usunąć samochód marki <span class="text-primary">"{{tempCar.brand}}"</span> o numerze rejestracyjnym <span class="text-primary">"{{tempCar.licensePlate}}"</span>?</strong></p>
        Wszystkie informacje powiązane z tym samochodem zostaną usunięte. Ta operacja jest nieodwracalna.
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
        <button type="button" class="btn btn-danger" (click)="deleteCar(tempCar.id)" data-dismiss="modal">Usuń</button>
      </div>
    </div>
  </div>
</div>
