<div *ngIf="authService.isAdmin()" class="container">
  <div class="row justify-content-md-center">
    <app-navigation></app-navigation>

    <div class="col-md-8">
      <form class="form-registration" name="addCar" (ngSubmit)="addCar()"  #myForm="ngForm">
        <table class="table">
          <tbody>
          <tr>
            <td>
              <div class="form-group">
                Marka: <input type="text" class="form-control" name="brand" [(ngModel)]="car.brand" placeholder="Marka">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Model: <input type="text" class="form-control" name="model" [(ngModel)]="car.model" placeholder="Model">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Typ silnika: <input type="text" class="form-control" name="engineType" [(ngModel)]="car.engineType" placeholder="Typ silnika">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Moc: <input type="number" class="form-control" name="power" [(ngModel)]="car.power" placeholder="Moc">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Pojemność: <input type="number" class="form-control" name="capacity" [(ngModel)]="car.capacity" placeholder="Pojemność">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Kolor: <input type="text" class="form-control" name="color" [(ngModel)]="car.color" placeholder="Kolor">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Rodzaj: <input type="text" class="form-control" name="type" [(ngModel)]="car.type" placeholder="Rodzaj">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Numer rejestracyjny: <input type="text" class="form-control" name="licensePlate" [(ngModel)]="car.licensePlate" placeholder="Numer rejestracyjny">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Ładowność: <input type="number" class="form-control" name="load" [(ngModel)]="car.load" placeholder="Ładowność">
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-group">
                Uwagi:
                <textarea rows = "5" cols = "50" name = "comments" [(ngModel)]="car.comments" class="form-control">Uwagi</textarea>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="form-group">
                <button class="btn btn-success" type="submit">Zapisz</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

