<div *ngIf="authService.isAdmin()" class="container">
  <div class="row justify-content-md-center">
    <app-navigation></app-navigation>
    <div class="card card-image mt-4 col-sm-9"
         style="background-color: #333333; width: 30rem; margin: 0 auto;">
      <div class="card card-image col-sm-12"
           style="background-color: #333333; width: 50rem; margin: 0 auto ;border-color: #333333;">

      <button type="button" class="btn btn-primary mt-2" name="addWarehouse" routerLink="/admin/warehouses/addWarehouse">Dodaj magazyn</button>

      <table matSort (matSortChange)="sortWarehouse($event)" class="table table-striped">
        <thead>
        <tr>
          <th mat-sort-header="id"><p class="text-white">Id</th>
          <th mat-sort-header="postCode"><p class="text-white">Kod pocztowy</th>
          <th mat-sort-header="city"><p class="text-white">Miasto</th>
          <th mat-sort-header="street"><p class="text-white">Ulica</th>
          <th mat-sort-header="phoneNumber"><p class="text-white">Telefon</th>
          <th mat-sort-header="description"><p class="text-white">Opis</th>
          <th><p class="text-white">Operacje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let warehouse of warehouses | paginate: config">
          <td><p class="text-white">{{warehouse.id}}</td>
          <td><p class="text-white">{{warehouse.postCode}}</td>
          <td><p class="text-white">{{warehouse.city}}</td>
          <td><p class="text-white">{{warehouse.street}}</td>
          <td><p class="text-white">{{warehouse.phoneNumber}}</td>
          <td><p class="text-white">{{warehouse.description}}</td>
          <td>
            <button type="button" class="btn btn-sm btn-danger" name="deleteWarehouse" (click)="deletingWarehouse(warehouse)" data-toggle="modal" data-target="#myModal">Usuń</button>
            <button type="button" class="btn btn-sm btn-warning" name="editWarehouse" [routerLink]="['/admin/warehouses/', warehouse.id]">Edytuj</button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="goToPdf(warehouse.id)">Pobierz</button>
          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
  </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg">
  <div class="modal-content" role="document">
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Usuwanie paczki</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <!-- Modal body -->
    <div class="modal-body">
      <p><strong>Czy na pewno chcesz usunąć magazyn znajdujący się w <span class="text-primary">"{{tempWarehouse.city}}"</span> na ulicy <span class="text-primary">"{{tempWarehouse.street}}"</span>?</strong></p>
      Wszystkie informacje powiązane z tym magazynem zostaną usunięte. Ta operacja jest nieodwracalna.
    </div>
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Anuluj</button>
      <button type="button" class="btn btn-danger" (click)="deleteWarehouse(tempWarehouse.id)" data-dismiss="modal">Usuń</button>
    </div>
  </div>
</div>
</div>
</div>
