<div *ngIf="authService.isUser()" class="col-md-2" style="max-width: 100%">
  <a routerLink="/profile" class="nav-link" >Informacje</a><br/>
  <a routerLink="/profile/change" class="nav-link">Zmień dane logowania</a><br/>
  <a routerLink="/profile/packages-info" class="nav-link">Moje paczki</a>
</div>

<div *ngIf="authService.isAdmin()" class="col-md-2" style="max-width: 100%">
  <a routerLink="/admin" class="nav-link" >Informacje</a><br/>
  <a routerLink="/admin/change" class="nav-link">Zmień dane logowania</a><br/>
  <a routerLink="/admin/users" class="nav-link">Zarządzaj użytkownikami</a><br/>
  <a routerLink="/admin/warehouses" class="nav-link">Zarządzaj magazynami</a><br/>
  <a routerLink="/admin/cars" class="nav-link">Zarządzaj samochodami</a><br/>
  <a routerLink="/admin/packages" class="nav-link">Zarządzaj paczkami</a>
</div>
