
<div *ngIf="authService.isUser()" class="btn-group-vertical mt-4" role="group" aria-label="Vertical button group">
  <a class="btn btn-dark" type="button" routerLink="/profile" role="button">Informacje</a>
  <a class="btn btn-dark" type="button" routerLink="/profile/change" role="button">Zmień dane logowania</a>
  <a class="btn btn-dark" type="button" routerLink="/profile/packages-info" role="button">Twoje paczki</a>
</div>

<div *ngIf="authService.isAdmin()" class="btn-group-vertical mt-4" role="group" aria-label="Vertical button group">
  <a class="btn btn-dark" type="button" routerLink="/admin" role="button">Informacje</a>
  <a class="btn btn-dark" type="button" routerLink="/admin/change" role="button">Zmień dane logowania</a>
  <a class="btn btn-dark" type="button" routerLink="/admin/users" role="button">Zarządzaj użytkownikami</a>
  <a class="btn btn-dark" type="button" routerLink="/admin/warehouses" role="button">Zarządzaj magazynami</a>
  <a class="btn btn-dark" type="button" routerLink="/admin/cars" role="button">Zarządzaj samochodami</a>
  <a class="btn btn-dark" type="button" routerLink="/admin/packages" role="button">Zarządzaj paczkami</a>
</div>
