<form class="form-registration" name="formRegistration" #myForm="ngForm" (ngSubmit)="onSumbit()">
    <table class="table">
      <tbody>
        <div *ngIf="comunicate != ''" class="error-message">
          {{comunicate}}
        </div>
        <tr>
          <td>
            <div class="form-group">
              Email: <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="E-mail">
              <div *ngIf="errors.email" class="error-message">
                {{errors.email}}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              Login: <input type="text" class="form-control" name="login" [(ngModel)]="user.login" placeholder="Login">
              <div *ngIf="errors.login" class="error-message">
                {{errors.login}}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              Password: <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Hasło">
              <div *ngIf="errors.password" class="error-message">
                {{errors.password}}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  <div class="form-group">
    <button class="btn btn-success" type="submit">Register</button>
  </div>
</form>
